.about {
    background: linear-gradient(to right, #05336f 0%, #1a84db 100%);

    &__title {
        color: $white;
        margin-bottom: 2rem;
    }
}

.about-geo {
    padding: 75px 0;
    background-image: url(../img/about-geo--mobile.png);
    background-repeat: no-repeat;
    background-position: 71% 52%;
    background-size: 40%;

    &__title {
        color: $white;
        text-transform: uppercase;
        margin-bottom: 95px;
    }

    &__list {
        list-style: none;
        margin: 0;
    }

    &__item {
        color: $base-color-2;
        margin-bottom: 35px;
    }

    &__item-img {
        margin-right: 10px;
    }

    &__item-text {

    }
}

@media screen and (min-width: 64em) {
    .about-geo {
        background-image: url(../img/about-geo--desktop.png);
        background-size: cover;
        background-position: center;
    }
}
