.contact {
	&__title {
		text-transform: uppercase;
		margin-bottom: 1rem;
	}

	&__subheader {
		margin-bottom: 2rem;
	}

	&__item {
		color: $dark-gray;

		&-strong {
			margin-right: 7px;
		}

		&-span {

		}
	}

	&__form-subheader {
		margin-top: 2rem;
	}
}

@media screen and (min-width: 40em) {
	.contact__form-subheader {
		margin: 0 0 2rem;
	}
}