.partners {
    background: linear-gradient(to right, #05336f 0%, #1a84db 100%);

    &__title {
        color: $white;
        margin-bottom: 3.5rem;
        text-transform: uppercase;
    }
}

.card-partners {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

	&__head {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
	
    &__logo {
        align-self: flex-start;
        padding: 5px 20px 15px 15px;
        max-width: 45%;
    }

    &__desc {

    }

    &__img {
        margin: 0 auto;
        padding-bottom: 30px;
        display: block;
    }
}

@media only screen and (min-width: 40.063em) {
    .card-partners {
        &__head {
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 64em) {
    .card-partners {
        height: 100%;
    }
}
